html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
  }
  
  body {
    background:hsl(270, 50%, 1%);
    background: url('./ROCCO\ green.jpeg') no-repeat center center fixed;
    background-size: cover;

  }